*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('https://i.pinimg.com/736x/f2/96/e1/f296e10e8b51a924a01dce048238bcf8.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.continer{
    background-color: rgba(255, 255, 255, 0.178);
    height: 230px;
    width: 240px;
    text-align: center;
    padding: 5px;
    border-radius: 15px;
    outline: rgba(174, 169, 169, 0.215) solid 4px;
}
.continer:hover{
    transform: translate3d(0, -10px, 0);
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(255, 255, 255, 0.434) 0px 3px 8px;
}
h1{
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
    padding-bottom: 10px;
    padding-top: 10px;
}
input{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border:none;
    padding-left: 10px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.178);
    color: white;
}
input:hover{
    border: 1px solid rgb(255, 255, 255);
}
button{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 0.178);
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 14px;
    margin-top: 20px;
}
button:hover{
    background:linear-gradient(45deg, rgba(217, 23, 101, 0.8),rgb(155, 8, 228), rgba(217, 23, 101, 0.8));
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    transform: scale3d(1.01, 1.01, 1);
}
